<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-title">Components</li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i> Base
            </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Panel" asp-controller="Panel" asp-action="Index">
                        <i class="nav-icon icon-puzzle"></i> Dash Board
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Product" asp-controller="Product" asp-action="Index">
                        <i class="nav-icon icon-puzzle"></i> Pages
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-carousel">
                        <i class="nav-icon icon-puzzle"></i> Carousel
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-collapse">
                        <i class="nav-icon icon-puzzle"></i> Collapse
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-forms">
                        <i class="nav-icon icon-puzzle"></i> Forms
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-jumbotron">
                        <i class="nav-icon icon-puzzle"></i> Jumbotron
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-list-group">
                        <i class="nav-icon icon-puzzle"></i> List group
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-navs">
                        <i class="nav-icon icon-puzzle"></i> Navs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-pagination">
                        <i class="nav-icon icon-puzzle"></i> Pagination
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-popovers">
                        <i class="nav-icon icon-puzzle"></i> Popovers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-progress">
                        <i class="nav-icon icon-puzzle"></i> Progress
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-scrollspy">
                        <i class="nav-icon icon-puzzle"></i> Scrollspy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-switches">
                        <i class="nav-icon icon-puzzle"></i> Switches
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-tables">
                        <i class="nav-icon icon-puzzle"></i> Tables
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-tabs">
                        <i class="nav-icon icon-puzzle"></i> Tabs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Panel" asp-action="Index" asp-route-view="base-tooltips">
                        <i class="nav-icon icon-puzzle"></i> Tooltips
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</nav>
