@model CoiNYC.Features.Account.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: table;
    }

    body {
        display: table-cell;
        vertical-align: middle;
    }

    form {
        display: table; /* shrinks to fit conntent */
        margin: auto;
    }
</style>

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" style="width:350px">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" style="width:185px; display:inline-block;"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" style="width:185px; display:inline-block;"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" style="width:185px; display:inline-block;"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default" style="float:right;">Register</button>
</form>

